.contact {
    display: grid;
    grid-template-columns: 8fr 4fr;
    color: blanchedalmond;
}
.number {
    margin-top: 20px;
}
/*button {*/
/*    background-color: inherit;*/
/*    border: none;*/
/*    color: blanchedalmond;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/
/*button:hover {*/
/*    background-color: #4CAF50;*/
/*}*/